body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  h1 {
    text-align: center;
    background-color: rgb(200, 69, 69);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  
  hr {
    background-color: red;
    height: 10px;
  }
  .container {
    background-color: rgb(200, 69, 69);
    padding-top: 20px;
  }
  
  h2 {
    color: whitesmoke;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  li {
      padding: 5px;
      margin: 5px;
      background: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    .container2 {
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .label {
      font-weight: bold;
    }
    
    .create-update-form {
      padding: 5px;
      margin: 5px;
      background: red;
    }
    
    .form-group {
      margin-bottom: 5px;
    }